streamlit==1.46.1
python-dotenv==1.1.0
pandas==2.2.2
numpy==1.26.4
langchain==0.3.26
langchain-community==0.3.26
langchain-openai==0.3.24
openai==1.108.1
pymongo==4.10.1
matplotlib==3.7.3
seaborn==0.13.2
